@page-header-height: 62px;
/*! reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display:block
}

body {
    line-height:1
}

ol, ul {
    list-style:none
}

blockquote, q {
    quotes:none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content:none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}
/*! global */

html, body {
    height:100%
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box
}

img {
    border:0
}

div.clear {
    clear:both
}

/*! fonts */

body {
    color: #000;
    background:#e0e0e0
}

html, input, button, select, textarea {
    font-family: "Tahoma", "Arial", sans-serif;
    font-size:9pt
}

pre {
    font-family: "Consolas", "Courier New", monospace;
    font-size:9pt
}

html, body, div, p, td, th, h1, h2, h3, h4, h5, h6, input, button, select, textarea, ins, del, pre {
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

h1 {
    font-size:17pt
}

h2 {
    font-size:14.5pt
}

h3 {
    font-size:11pt
}

h4 {
    font-size:10pt
}

a {
    color: #0069bc;
    text-decoration:underline
}

a:hover {
    color: #f00;
    text-decoration: none;
    border:none
}


table{border-collapse:collapse;}

/*! layout */

.layout-wrapper {
    position: relative;
    min-height: 100%;
    background:#fff;
    padding-left: 25px;
}

.content-wrapper {
    z-index:20;
}

header {
    width: inherit;
    z-index:50
}
@media (min-width: 1025px){
    .layout-wrapper {
        min-width: 1000px;
        width: 80%;
        max-width: 1400px;
        margin:0 auto
    }

    header {
        min-width: 1000px;
        max-width: 1400px;
        margin-top:0
    }
    .content-wrapper {
        margin: 0 200px 0 0;
    }
    .welcome-box {
        min-width: 1000px;
        max-width: 1400px;
    }    
}
.search-box {
    width: inherit;
    z-index:50
}

.login-box {
    width: inherit;
    z-index:50
}

.oauth-box {
    width: inherit;
    z-index:50
}

.welcome-box {
    width: inherit;
    z-index:50
}


.tool-box {
    position: fixed;
    width: 60px;
    top: 0;
    bottom: 0;
    background: #f0f0f0;
    z-index:100
}
@media (max-width: 1470px) {
    .banners_enabled_True .form-size-wide {
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important
    }
}
/*! header */

header {
    min-height: 35px;
    background:#fff;
    margin-bottom: 10px;
}

header ul li {
    float:left
}

header ul li a {
    display: block;
    height: 28px;
    line-height: 40px;
    margin:3px 15px 3px 0
}

header ul li a.logo{
    font-size: 18px;
    font-weight: 700;
    text-decoration:none;
}

header ul li.homepage {
    display:none
}

header ul li.pinned a {
    color: #808080
}

.welcome-box ul {
    min-height: 30px;
    width: 100%;
}
.welcome-box ul li {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
}

/*! content-container */

.content-container {
    margin:10px 25px 0 0;
}

.content-container h1 {
    clear: left;
    margin:30px 0 15px 0
}

.content-container h1:first-of-type {
    margin-top:0
}

.content-container h2 {
    clear: left;
    margin:20px 0 15px 0
}

.content-container h2:first-of-type {
    margin-top:0
}

.content-container h3 {
    clear: left;
    margin:15px 0 10px 0
}

.content-container h3:first-of-type {
    margin-top:0
}

/*! actions-panel */

.actions-panel {
    margin: 15px 0;
    padding: 5px 10px;
    border:1px solid #f0f0f0
}

.actions-panel ul li {
    display: inline-block;
    line-height: 22px;
    margin-right: 5px
}

.page-panel .actions-panel ol{
    list-style: disc;
}
.page-panel .actions-panel ol li{
    display: block;
}


.actions-panel ul li.add {
    padding-left: 20px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAANCAMAAACq939wAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFAIAA////FD8vTwAAAAJ0Uk5T/wDltzBKAAAAGElEQVR42mJgRAIMEJKBfA5uQKnRAAEGACa/AHEobtT5AAAAAElFTkSuQmCC) no-repeat scroll 3px 5px
}

.actions-panel ul li.add a {
    color:#008000
}

/*! page-list */
.page-list {
    clear:left
}
.page-item {
    margin: 10px 0;
    // background: #f8f8f8;
    border-left: 2px solid #008000;
    padding: 10px 115px 0px 5px;
    position: relative;
}
.page-item .sections {
    margin: 5px 0 5px 0;
    font-size: 8pt;
    line-height: 10pt;
    color: #808080;
}
.page-item .sections li {
    display: inline;
    margin-right: 10px;
}
.content-container .doc-text ul {
    margin: 15px 0 15px 0;
    list-style: disc;
}
.content-container .doc-text ul li {
    margin: 5px 0 5px 25px;
    line-height: 13pt;
}
/*! bb */

.bb{
    line-height:13pt
}

/*! form */
input[type=text], input[type=password], select, textarea {
    border: 1px solid #d0d0d0;
    transition: border-color .25s, background-color .25s;
    line-height: 18px;
    padding-left:5px
}

input[type=text]:hover, input[type=password]:hover, select:hover, textarea:hover {
    border:1px solid #b0b0b0
}

input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus {
    border: 1px solid #808080;
    outline:none !important
}

input[type=text]:disabled:hover, input[type=password]:disabled:hover, select:disabled:hover, textarea:disabled:hover {
    border:1px solid #d0d0d0 !important
}

input[type=text], input[type=password] {
    padding-left:5px
}

textarea {
    padding-left:5px
}

textarea.code {
    font-family: "Consolas", "Courier New", monospace;
    font-size:9pt
}

.form-panel p {
    clear: left;
    line-height: 13pt;
    margin: 0 0 10px 0;
}

.form-layout-flow  input[type=text], .form-layout-flow  input[type=password] {
    width:100%;
}

.vocab-list li {
    margin-bottom: 10px;
}

.cards .card {
    background: #f8f8f8;
    padding: 16px;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #656a7626,0px 2px 3px 0px #656a761a,0px 8px 16px -10px #656a7633;
    color: #656a76;
}

.cards .card .time {
    margin-bottom: 8px;
}

.cards .card .page-item{
    padding: 0px 115px 0px 5px;
}

.cards h2 {
    font-size: 0.875rem;
    font-weight: 600;
    color: #000;
}

.cards .card:hover {
    background:#f4faff
}

.cards table.timetable{
    border: 1px;
    width: 100%;
    font-size: 13px;
    border-collapse: collapse;
}
.cards table.timetable th {
    background-color: #f4faff;
    font-weight: bold;

}

.cards table.timetable td, .cards table.timetable th {
    padding: 5px;
    vertical-align: middle;
}

.cards table.timetable tr, .cards table.timetable td, .cards table.timetable th{ 
    border:1px solid #656a76; 
} 